h1 {
  font-family: 'Bungee Inline';
  text-align: center;
  color: green;
}

body {
  font-family: 'Mada';
text-align: center;
  background-color: purple;
}

img {border : 0;}
img a {outline : none;}

p {
  font-family: 'Mada';
text-align: center;
color: gold
}



h2{font-family: 'Mada';
text-align: center;
color: gold;}

nav{background color: gold
  color:white
  float: center;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
font-size: 19px;
margin-top: 0;
font-size: 19px;
}
